.Title {
  text-align: center;
  font-size: 100px;
  font-family: Garamond, serif;
  color:#a81002;
  -webkit-text-stroke: 2px black; 
}
h2 { 
	font-size: 30px;
    -webkit-text-stroke: 2px black; 
    font-family: sans; color: red;
	text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.redglow {
  background-color: #DC143C;
}
body {
 background-image: url("red.gif");
 background-color: #cccccc;
}